<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoHelp</title>
  <script src="https://smtpjs.com/v3/smtp.js">
  </script>
</head>
<body>
  <h1>otp generation</h1>
  <input type="email" id="email" placeholder="enter email">
  <br><br>
  <div class="otpverify">
  <input type="text" id="otp_inp" placeholder="enter the otp">
  <button class="btn" id="otp_btn">verify</button>
</div>
  <br><br>
  <button class="btn" onclick="sendotp()">send otp</button>
  <script src="forget.js"></script>
</body>
</html>