<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoHelp</title>
  </head>
  <body>
    <form action="/main/<%= username %>/<%=emailaddress%>" method="post">
      <input type="text" placeholder="enter username" name="usernames"/>
      <input type="text" placeholder="address" name="useraddress"/>
      <input type="number" placeholder="mobile" name="usermobile"/>
      <input type="email" placeholder="email" name="useremail"/>
      <input type="text" placeholder="service" value="WatertankCleaning" name="userservice"/>
      <button>submit</button>
    </form>
  </body>
</html>
